*
{
    background-color: #231f20;
    
}

html
{
    font-size: 100%;
}

.head 
{
    background-color: #dd9c52;
    height: 50px;
    width: 100%;
}

img
{
    background-color: transparent;
}

img:hover
{
    color: black;
}

.first-heading
{
    color: red;
    font-size: 2rem;
}
.first-heading:hover
{
    color:aliceblue;
}
.first-heading:active
{
    color: grey;
}

.second-heading
{
    color: #dd9c52;
    font-size: 2rem;
}
